<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlV29Azzf0nblmMXKa18UGn1clVrlt9Wk</string>
	<key>GCM_SENDER_ID</key>
	<string>82937186705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tanzen-mit-Tatiana-Drexler</string>
	<key>PROJECT_ID</key>
	<string>dance-with-tatiana</string>
	<key>STORAGE_BUCKET</key>
	<string>dance-with-tatiana.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82937186705:ios:7417795062843411e8f230</string>
</dict>
</plist>